body{
	background-image: url("../img/dlcBackground.gif");
	text-align:center;
}
div#content{
	display: table;
	margin: 100px auto;
	clear:both;
	width:100%;
	max-width:450px;
	min-height:350px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.13) 0%, rgba(0,0,0,0.9) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.13) 0%,rgba(0,0,0,0.9) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.13) 0%,rgba(0,0,0,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(	startColorstr='#21000000', endColorstr='#e6000000',GradientType=0 );
	-webkit-border-bottom-right-radius: 22px;
	-webkit-border-bottom-left-radius: 22px;
	border-bottom-right-radius: 22px;
	border-bottom-left-radius: 22px;
}
label{
	color: rgba(999,999,999,.9);
}
label#title{
	font-size:72px;
	font-family: 'Lemon', cursive;
}
label#slogan{
	font-size:18px;
	font-family: 'Cinzel', serif;
}
div#popup{
	width:100%;
	max-width:450px;
	min-height:200px;
	display:table;
	position:absolute;
	-webkit-border-bottom-right-radius: 22px;
	-webkit-border-bottom-left-radius: 22px;
	border-bottom-right-radius: 22px;
	border-bottom-left-radius: 22px;
}
div#formLogin{
	display: table;
	margin: 0 auto;
	text-align:right;
}
form#login{
	text-align:right;
}
p.buttons{
	text-align:center;
}
label.button{
	background:rgba(999,999,999,.9);
	color:rgba(0,0,0,.9);
	padding:6px;
	margin:8px;
}
label.button:hover{
	background:rgba(999,999,999,.5);
	color:rgba(333,333,333,1);
}
a#pwrecovery{
	display:block;
	text-align:right;
	color:rgba(333,333,333,1);
	margin-top:-12px;
	margin-bottom:12px;
	font-size:10px;
}
a#pwrecovery:hover{
	color:rgba(333,333,333,.7);
}
label#mess{
	color:red;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
	font-size:16px;
}